body {
    margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
    background-color: rgb(249, 248, 247);
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fbfbfb;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-title{
    text-transform: uppercase;
    border-bottom: 2px solid #fdfdfd;
    margin-top: 40;
    margin-bottom: auto;
    height: auto;
    background-color: rgb(253, 253, 253);
}
.section-content{
    background: linear-gradient(to right, #ffffff,#ffffff);
    display: flex;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
.phan1{
    width: 200px;
    height: auto;
    
}
.phan2{
    /* background-color: bisque; */
    width: 700px;
    height: auto;
    
}
.cv-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px;
}

.profile {
    display: flex;
    align-items: top;
    background-color:rgb(255, 255, 255) ;
    margin-left: 40px;
    margin-right: 40px;
}

.profile img {
    width: 113;
    height: 113px;
    margin-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}

.profile-info {
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
}

.section {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}


.section li {
    position: relative;
    padding-left: 10px; 
  }
  
  .section li:before {
    
    position: absolute;
    top: 0;
    left: 1px;
    height: 100%; 
    border-left: 1px dashed #ffffff; 
  }